:root {
    --color-1-1: #581845;
    --color-1-2: #900C3F;
    --color-1-3: #C70039;
    --color-1-4: #FF5733;
    --color-1-5: #FFC300;
    --color-1-6: #DAF7A6;

    --color-2-1: #fff;
    --color-2-2: #241c22;
    --color-2-3: #5c5b5c;
    --color-2-4: #b3afb3;
    --color-2-5: #ecebec;

    /* --color-3-1: rgb(199, 25, 25);
    --color-3-2: rgb(199, 25, 25);
    --color-3-3: rgb(199, 25, 25); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
}
